.map{
  width: 100vh;
  height: 100vw;
  margin: 0;
  padding: 0;
}

#layerListExpand{
  width: 50px;
}

/* Optional: you can also style it here instead of using inline styles */
arcgis-scale-bar {
  position: absolute;
  bottom: 12px;
  left: 16px;
  z-index: 10;
}

